html, body { font-family: Verdana, Arial, sans-serif;  overflow-x:hidden; margin:0; }
.book { margin:0; padding:30px; }
.odd { background:#fcf7f9; }
.even { background: #fffff; }
a { color:#9a3950; text-decoration:none;}
a:hover { color:#fff; background:#9a3950; }
#loading { margin:30px auto auto auto; }