html, body { font-family: "Roboto", Verdana, Arial, sans-serif;  overflow-x:hidden; margin:0; }
.book { margin:0; padding:30px; }
.odd { background:#fcf7f9; }
.even { background: #fffff; }
.booklink { color:#9a3950; text-decoration:none;}
.booklink:hover { color:#fff; background:#9a3950; }
#loading { text-align:center; margin:50px; }