.bold { font-weight:bold; }
.item { background:#f6f6f6; padding:8px; padding-left:12px; margin-bottom:20px;}
.date { font-size:70%; text-transform:uppercase; color:#999; }
a, a:hover { font-weight:bold; color:inherit;}