html, body {font-family:'Roboto', 'Helvetica Neue', Arial, sans-serif;}
.bold {font-weight:bold;}
.italic {font-style:italic;}
#topimg { width:100%; margin-bottom:30px;}
#player { text-align:center; margin-bottom:30px; }
.fa, tr { cursor:pointer;}
.fa {color:#bababa;}
.fa:hover {color: #999;}
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
