<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

    <title>Cody Winchester - codywinchester.com</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel=
    "stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
        <div class="row" style="margin:0;">
            <div class="col-md-4" style="background:#fff; padding:50px; margin:0;">
                <h1 class="bold fancy" style="font-size:3.7em;">Winchester!</h1>

                <p class="lead">I cover local government for the Omaha World-Herald.</p>

                                <h2 class="bold">Filter</h2>
                
                <input class="form-control" id="search" placeholder="Search articles and web projects ..." style="margin-bottom:10px;" type="text">
                
                <style id="search_style"></style>

                <button class="btn btn-default clicker bold" id="print"
                style="color:#de2d26; width:48%;" type="button"><i class=
                "fa fa-check-circle-o"></i> Print</button>
                
                <button class=
                "btn btn-default clicker bold" id="web" style=
                "color:#4393c3; width:48%; float:right;" type=
                "button"><i class="fa fa-check-circle-o"></i> Web</button>
                
            <h2><a href="http://blog.dataomaha.com" target="_blank">Nerd blog</a></h2>
            <div id="nerd"></div>

            <h2><a href="http://cjwinchester.tumblr.com" target="_blank">Tumblr</a></h2>
            <div id="nonnerd"></div>

            <h2 class="bold">Contact</h2>
                <table class="table">
                    <tr>
                        <td>
                            <i class="fa fa-twitter"></i>&emsp;<a href=
                            "http://www.twitter.com/cody_winchester" target="_blank">Twitter</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-github-alt"></i>&emsp;<a href=
                            "http://www.github.com/cjwinchester" target="_blank">GitHub</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class=
                            "fa fa-envelope-o"></i>&emsp;<a href="mailto:cjwinchester@gmail.com">Email</a>
                        </td>
                    </tr>
                </table>
            
            </div>     
            <script type="text/html" class="template">            
            <% _.each( banana, function( project ){ %>
                <div class="item searchable <%- project.type %>" data-index="<%- project.hed.toLowerCase() %><% if ( project.tools ){ %> <%- project.tools.join(' ') %><% } %>" style="border-left:6px solid <% if ( project.type === "web" ) { %>#4393c3<% } else { %>#de2d26<%} %>;">
                    <p class="smallblock bold" style="margin-bottom:-15px;">
                    <%- apDate(project.date) %>           
                    </p>
                    <h3 class="bold" style="color: <% if ( project.type === "web" ) { %>#4393c3<% } else { %>#de2d26<%} %>">
                    <a href="<%- project.url %>" target="_blank">
                    <%- project.hed %>
                    </a>
                    </h3>
                    <p>
                        <%= project.desc %> 
                        <% if ( project.collab ){ %> With
                           <%= collab(project.collab) %>.
                           <% }; %>
                    </p>
                    <% if ( project.tools ){ %>           
                    <p class="smallblock italic"><%= tools(project.tools) %></p>
                    <% }; %>
            </div>
            
            <% }); %>            
            </script>

            <div class="col-md-8" id="projects" style=
            "display:none;"></div>
        </div>

    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/projects.js"></script>
    <script src="js/main.js"></script>
    <script src="http://spreadsheets.google.com/feeds/list/1_3PoM7f6XIyKNbqTwgwUJK9HtjueappbJ73csuzHKdI/od6/public/values?alt=json-in-script&amp;callback=displayContent" type="text/javascript"></script>
</body>
</html>