---
layout: default
title: Projects
permalink: /projects/
---
<div class="container">
    <div class="cromulent">
        <h1>Recent projects</h1>
        <div class="project-div">
        {% for project in site.data.projects %}
            <p class="note project-date">{{ project.date }}</p>
            <h2><a href="{{ project.url }}" target="_blank">{{ project.hed }}</a></h2>
            <p>{{ project.desc }}{% if project.collab %} With {% for collab in project.collab %}<a href="https://twitter.com/{{ collab }}" target="_blank">@{{ collab }}</a>{% if forloop.last == false %}{% if forloop.rindex0 == 1 %} and {% else %}, {% endif %}{% endif %}{% endfor %}.{% endif %}</p>
            {% if project.github %}<p class="small"><a href="https://github.com{{ project.github }}" target="_blank">See this project on Github &raquo;</a></p>{% endif %}
            {% if forloop.last != true %}<hr>{% endif %}
        {% endfor %}
        </div>
    </div>
</div>
