---
layout: default
title: Read
permalink: /read/
---

<div class="container">
    <div class="cromulent">
        <h1>What am I reading?</h1>    
          {% for book in site.data.books %}
          {% assign st = 5 | minus: book.stars %}
          <div class="row">
            <div class="reads">
              <a href="{{ book.url }}" target="_blank">{{ book.title }}</a>, by {{ book.author }}
            </div>
            <div class="reads-right">
              {% for num in (1...book.stars) %}&#9733;{% endfor %}{% for num in (1...st) %}&#9734;{% endfor %}
            </div>
          </div>
        {% endfor %}
    </div>
</div>