---
layout: default
title: ~ reads ~ codywinchester.com ~
permalink: /read/
---

{% include home_link.html %}
<div class="container">
    <div class="cromulent">
        <h1>What am I reading?</h1>    
        <table>
            {% for book in site.data.books.books reversed %}
            {% assign st = 5 | minus: book.stars %}
            <tr>
            <td><a href="{{ book.url }}" target="_blank">{{ book.title }}</a>, by {{ book.author }}
            </td>
            <td>{% for num in (1...book.stars) %}&#9733;{% endfor %}{% for num in (1...st) %}&#9734;{% endfor %}
            </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>