<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USA! USA! USA!</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container">
        <div style="margin-bottom:30px;">
            <span class="lentil" style="background:#ffff99; color:#000;">Lived</span>
            &emsp;
            <span class="lentil" style="background:#386cb0; color:#fff;">Visited</span>
        </div>        
        
        <script type="text/html" class="template">
        <% _.each( data, function( person ){ %>
            <li><%= person %></li>
            <% }); %>            
        <% _.each( data, function( person ){ %>
        <div id="<%= person %>" class="map">
                <img src="<%= person %>_visit.png" />
            </div>
            <% }); %>
            </script>
           <div id="main"></div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../js/underscore-min.js"></script>
<script src="js/main.js"></script>

</html>