<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
        <title>Winchester family recipes</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style>h1, h3 {margin-bottom:0;} h3 { margin-top:0; } .container { margin-bottom:50px; } label { cursor:pointer; }</style>
    </head>
    
    <body>
        <script type="text/html" id="template">
        <% _.each( recipes, function( recipe ){ %>
            <div class="searchable <%= recipe.category %>">
                <% if ( recipe.img ) { %><img src="<%= recipe.img %>" /><% }; %>
                <h1><%= recipe.name %></h1>
                <h3>Ingredients</h3>
                <p><%= joinBr(recipe.ingredients) %></p>
                <h3>Directions</h3>
                <p><%= recipe.directions %></p>
                <hr>
            </div>
        <% }); %>
        </script>
        <div class="container">
            <!--<input type="text" id="search" style="height:40px; width:100%;" />
            <style id="search_style"></style>-->
            <label>
            <input type="checkbox" id="breakfast" checked="checked" /> Breakfast
            </label>
            <br>
            <label>
            <input type="checkbox" id="lunch" checked="checked" /> Lunch
            </label>
            <br>
            <label>
            <input type="checkbox" id="dinner" checked="checked" /> Dinner
            </label>
            <br>
            <label>
            <input type="checkbox" id="snack" checked="checked" /> Snack
            </label>
            <button id="checkall">asf</button>
            <div id="output"></div>
        </div>
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/underscore-min.js"></script>
        <script src="js/recipes.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>