html, body { margin:0; padding:0; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.button { background:#4393c3; width:33.33333%; color:#fff; text-align:center; border-right:2px solid #fff; float:left; padding:20px; cursor:pointer;}
#top.affix { position: fixed; top: 0; width: 100%; }
#top { position: relative; z-index: 999 !important;}
#wrapper {min-height:100px;}
.hover { background:#1f4760; }
.bold { font-weight:bold; }
.button h1, .now-playing h1 { margin:0; }
.noselect { -webkit-touch-callout: none;  -webkit-user-select: none; -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none; user-select: none; }
.cl { cursor:pointer; }