* { margin:0; padding:0; font-family: Verdana, Arial, sans-serif; text-align:center; text-transform:uppercase; }
.container { margin:20px; }
.lentil { font-size:1.3em; font-weight:bold; padding:5px; }
img { max-width:100%; margin-top:40px; }
li { color:#aaa; cursor:pointer; display: inline; list-style-type: none; margin-right: 6px; font-size:90%;}
.selected { font-weight:bold; border-bottom: 3px solid #aaa; }