<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        R&eacute;sum&eacute; - Cody Winchester - codywinchester.com
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    
    <style>
    .center { text-align:center; }
    .slab { font-family: 'Montserrat', 'Helvetica Neue', Verdana, sans-serif; font-size:400%;}
    #loading { text-align:center; margin-top:150px; }
    .jumbotron { background:#edf7fe; }
    .gray { background:#edf7fe; padding-top: 30px; padding-bottom: 30px; }
    .sub { margin-top:50px; }
    
    </style>
        
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	</head>
    
    <body>    
    <div id="loading">
        <h1><i class="fa fa-spinner fa-pulse"></i></h1>
    </div>    
    <div id="main">
    <div id="out"></div>
    </div>
    
    <script type="text/html" class="template">
        <div class="jumbotron">
            <div class="container">
                <h1 class="slab center"><%= bananagram.basics.name %></h1>
                    <p class="lead" style="margin-top:40px;">
                    <% _.each( bananagram.basics.keywords, function( k ){ %>
                        <span class="label label-info"><%= k %></span>
                    <% }); %>
                    </p>
            </div>
        </div>
        
        <div class="container" style="margin-bottom:30px;">
        <div class="row">
        <div class="col-md-6">
        <h1 class="sub"><i class="fa fa-briefcase"></i> Work</h1>
        <hr>
        <% _.each( bananagram.work, function( job ){ %>
            <p class="lead" style="margin-bottom:30px;"><strong><%= getDate(job.startDate) %> &ndash; <%= getDate(job.endDate) %></strong>: <%= job.position %>, <a href="<%= job.website %>" target="_blank"><%= job.company %></a> (<%= job.location %>). <%= job.summary %></p>
        <% }); %>
        </div>
        <div class="col-md-5 col-md-offset-1">
        <h1 class="sub"><i class="fa fa-mortar-board"></i> School</h1>
        <hr>
        <% _.each( bananagram.education, function( school ){ %>
            <p class="lead"><strong><%= school.institution %></strong>: <%= school.studyType %>, <%= school.area %> (<%= getDate(school.endDate) %>)</p>
        <% }); %>
        
        <h1 class="sub"><i class="fa fa-bicycle"></i> Affiliations</h1>
        <hr>
        <% _.each( bananagram.affil, function( aw ){ %>
            <p class="lead"><%= aw.title %></p>
            <% }); %>
        
        </div>        
        </div>        
        </div>
        
                <div class="gray">
            <div class="container">
                <div class="row">
                <div class="col-md-4">
                <h1 class="sub"><i class="fa fa-envelope"></i> Contact</h1>
                <p class="lead">
                    <a href="mailto:<%= bananagram.basics.email %>"><%= bananagram.basics.email %></a><br>
                    <%=bananagram.basics.phone %><br>
                    <%= bananagram.basics.location.address %><br>
                    <%= bananagram.basics.location.city %>, <%= bananagram.basics.location.state %> <%= bananagram.basics.location.zip %><br>
                </p>
                </div>
                <div class="col-md-4">
                <h1 class="sub"><i class="fa fa-coffee"></i> Social</h1>
                <p class="lead">
                    <a href="https://www.twitter.com/<%= bananagram.basics.twitter %>">Twitter</a><br>
                    <a href="https://www.github.com/<%= bananagram.basics.github %>">GitHub</a><br>
                    <% _.each( bananagram.basics.blog, function( blog, i ){ %>
                        <a href="<%= blog.url %>" target="_blank"><%= blog.blog_type %></a><% if (i === 0) { %><br><% }; %>
                    <% }); %>
                </p>
                </div>
                <div class="col-md-4">
                <h1 class="sub"><i class="fa fa-cloud-download"></i> Download r&eacute;sum&eacute;</h1>
                <p class="lead">
                    <a href="<%= bananagram.meta.pdf %>">PDF</a><br>
                    <a href="<%= bananagram.meta.doc %>">DOC</a><br>
                    <a href="<%= bananagram.meta.json %>">JSON</a>
                </p>
                </div>
                </div>
            </div>
        </div>
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="js/res.js"></script>    
</html>