*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  background-color: #FEFCF9;
  color: #000;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", "Consolas", "Courier New", monospace;
  line-height: 1.3;
  margin: 40px auto;
  max-width: 700px;
  padding: 0 20px
}

span.new {
  background-color: red;
  color: white;
  padding: 2px 3px 0px 5px;
  border-radius: 20%;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle
}

a {
  color: #337ab7;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.also {
  border-top: 1px solid #d8e7f0;
  padding-top: 20px
}

footer {
  border-top: 1px solid #d8e7f0;
  text-align: center;
  font-size: 14px
}

img {
  max-width: 100%;
}