<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What am I reading? - Cody Winchester - codywinchester.com</title>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,900' rel='stylesheet' type='text/css'>
        <link href="css/reading.css" rel="stylesheet">
    </head>
    <body>
        <div id="loading"><h1>Loading <span id="ellipses">...</span></h1></div>
        <div id="output" style="display:none;"></div>
        <script type="text/html" id="template">
        <% _.each( books.reverse(), function( book, iterator ){ %>
            <div class="book <% if ( iterator % 2 === 0 ) { %>even<% } else { %>odd<% }; %>">
            <h2><a href="<%= book.url %>" target="_blank"><%= book.title %></a>, by <%= book.author %><% if ( book.stars ) { %> <br><%= womp(book.stars) %><% }; %></h2>
            </div>
        <% }); %>
        </script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/underscore-min.js"></script>
        <script src="js/reading.js"></script>
    </body>
</html>