<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What am I reading? - Cody Winchester - codywinchester.com</title>    
        <style>
            html, body { font-family: Verdana, Arial, sans-serif; background:#fafafa; overflow-x:hidden;}
            h1 { margin-bottom:50px; }
            a { color:#9a3950; text-decoration:none;}
            a:hover { color:#fff; background:#9a3950; }
        </style>
    </head>
    <body>
        <div id="output"></div>
        <script type="text/html" id="template">
        <% _.each( books, function( book ){ %>
            <h1><a href="<%= book.url %>" target="_blank"><%= book.title %></a>, by <%= book.author %><% if ( book.stars ) { %> <br><%= womp(book.stars) %><% }; %></h1>
        <% }); %>
        </script>
        <script src="../js/underscore-min.js"></script>
        <script src="js/books.js"></script>
        <script>
            function womp(full) {
                var f = _(full).times(function() { return "&starf;" }).join('')
                    , e = _(5-full).times(function() { return "&star;" }).join('');
                return f+e;
            }    
            var template = _.template(document.getElementById('template').innerHTML);            
            document.getElementById('output').innerHTML = template(books);
        </script>
    </body>
</html>