html, body {
font-family: Helvetica Neue, Arial, sans-serif;
margin:0;
padding:0;
width:100%;
height:100%;
overflow-x:hidden;
	}

a {
color:#08519c;
}

a:visited {
color:#6baed6;
}

#whatreadingnow {
width:55%;
text-align:left;
margin: auto auto;
}

#header {
width:100%;
text-align:center;
padding:3.5em 0 2.5em 0;
background:#08519c;
color:#fff;
margin-top:-2em;
margin-bottom:2.5em;
}
    
table {
border-collapse: collapse;
font-size: 80%;
}

table td {
padding: 10px;
vertical-align:middle;
}

table tr {
border-bottom: 1px solid #ccc;
}

table tr:last-child {
border-bottom: 0;
}

h2 { 
font-size: 4em;
margin:0;
}
    
.ui-tooltip {
font-size:10px;
}

.imagechart {
margin-bottom:-20px;
padding-bottom:10px;
padding-top:10px;
}