html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

section.labels {
    margin-bottom: 20px;
}

span.label {
    font-size:18px;
    font-weight:bold;
    padding:5px;
}

span.label.lived {
    background:#ffff99;
    color:#000;
}

span.label.visited {
    background:#386cb0;
    color:#fff;
}

section.map {
    margin: 20px auto;
}

img#visit-map {
    width: 100%;
    max-width: 960px;
}

li.name {
    color: #aaa;
    cursor: pointer;
    display: inline;
    list-style-type: none;
    margin-right: 8px;
}

li.name.active {
    border-bottom: 3px solid #aaa;
}