body {
	font-family: Georgia, serif;
    }

.container {
	width: 750px;
	margin: 40px auto;
    }

.highlight {
    background: #6BAED6;
    font-weight:bold;
    color:white;
    padding:5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    }

table {
	border-collapse: collapse;
	font-size: 70%;
	font-family: Arial, sans-serif;
    }

table td {
	border-bottom: 1px solid #eee;
	padding: 10px;
    text-align:center;
    }

table td.total {
	font-weight: bold;
	color: #000;
	text-align: center;
	}

table thead th {
	color: #000;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px;
    }
    
h2 { 
	font-family: Calibri, Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 2.5em;
	}
    
.ui-tooltip {
    font-size:10px;
    }
