    * {
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    }
    
    .container {
    width:580px;
    margin:auto;
    padding:10px;
    }
    
    #ref {
    border-right: 1px dashed #ccc;
    height:15px;
    }
    
    table td:nth-of-type(even) {
    width:65%;
    }
    
    table tr { 
    background-color: transparent !important;
    }
        
    table { 
    width: 100%; 
    border:0; 
    border-collapse: collapse; 
    padding:0; 
    margin: 50px 0 0 0; 
    font-size:90%;
    }
    
    .spacer {
    font-size:50%;
    }
    
    #slider {
    margin:10px auto 30px auto;
    height:10px;
    width:550px;
    }
    
    .ui-slider .ui-slider-handle {
    width:1em;
    height:1em;
    }
    
    a {
    color: #a9a9a9;
    text-decoration: none;
    font-weight:bold;
    }
    
    a:hover {
    text-decoration:underline;
    }
        
    .source {
    color: #a9a9a9;
    font-size: 75%;
    margin-top:10px;
    }
        
    #slider label {
    position: absolute;
    width: 15px;
    margin: 20px 0 0 -15px;
    text-align: center;
    font-size:75%;
    cursor: pointer;
    cursor: hand;
    }