<!DOCTYPE html>
<html lang="en">
  <!--
                                   .__                              
    ________________  ______  __ __|  |   ____   ____   ____  ____
  _/ ___\_  __ \__  \ \____ \|  |  \  | _/ __ \ /    \_/ ___\/ __ \
  \  \___|  | \// __ \|  |_> >  |  /  |_\  ___/|   |  \  \__\  ___/
   \___  >__|  (____  /   __/|____/|____/\___  >___|  /\___  >___  >
       \/           \/|__|                   \/     \/     \/    \/

  -->
  {% include head.html %}
  <body>
    {{ content }}
    {% if page.script %}
    <script src="/assets/js/{{ page.script }}"></script>
    {% endif %}
  </body>
</html>