---
layout: default
---

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="topper">
            <h2 style="margin-top:2px; margin-bottom:0px;">{{ page.title }}</h2>
            <p class="post-meta muted" style="margin-bottom:15px;"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
            {{ content }}
            {% if page.tags %}
            <p class="tags">
                {% for tag in page.tags %}
                    <span class="muted">#{{ tag }}</span>&emsp;
                {% endfor %}
            </p>
            {% endif %}
            <hr>
            {% if page.previous.url %}
            <p class="pull-left"><a href="{{page.previous.url}}">&laquo; Previous: {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <p class="pull-right"><a href="{{page.next.url}}">Next: {{page.next.title}} &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
